{% extends "layout.html" %}
{% block main %}
   {# creates a form for the login page #}
   <form action="/login" method="post">
      {# lets user input username #}
      <div class="form-group">
         <label>User Name</label>
         <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
      </div>
      {# lets user input password #}
      <div class="form-group">
         <label>Password</label>
         <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
      </div>
      {# gives the user to submit and login or to switch to the register page #}
         <button type="submit" class="btn btn-secondary shadow-none">Login</button>
         <a href = '/register'> Register </a>
   </form>
{% endblock %}